<ion-view title="Accounts Summary" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add-circle"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="accountsSummary-list5">
      <label class="item item-select" id="accountsSummary-select8">
        <span class="input-label">Month</span>
        <select>
          <option>Jan</option>
          <option>Feb</option>
        </select>
      </label>
      <label class="item item-select" id="accountsSummary-select7">
        <span class="input-label">Year</span>
        <select>
          <option>2017</option>
        </select>
      </label>
    </ion-list>
    <ion-list id="accountsSummary-list11">
      <ion-item class="item-icon-right balanced" id="accountsSummary-list-item53">HSBC
        <span class="item-note">INR 20,000</span>
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="accountsSummary-list-item54">Citibank
        <span class="item-note">INR 40,000</span>
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="accountsSummary-list-item55">HDFC
        <span class="item-note">INR 15,000</span>
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right assertive" id="accountsSummary-list-item57">Citi Card
        <span class="item-note">INR -3,000</span>
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="calm" id="accountsSummary-list-item56">Total Balance
        <span class="item-note">INR 72,000</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>