<ion-view title="Cashflow Summary" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="cashflowSummary-list6">
      <label class="item item-select" id="cashflowSummary-select4" name="Month">
        <span class="input-label">Month</span>
        <select>
          <option>Jan</option>
          <option>February</option>
        </select>
      </label>
      <label class="item item-select" id="cashflowSummary-select5">
        <span class="input-label">Year</span>
        <select>
          <option>2017</option>
        </select>
      </label>
    </ion-list>
    <ion-list id="cashflowSummary-list9">
      <ion-item class="assertive" id="cashflowSummary-list-item40">Groceries
        <span class="item-note">INR -2,000</span>
      </ion-item>
      <ion-item class="assertive" id="cashflowSummary-list-item41">Movies
        <span class="item-note">INR -2,000</span>
      </ion-item>
      <ion-item class="balanced" id="cashflowSummary-list-item42">Salary
        <span class="item-note">INR 20,000</span>
      </ion-item>
      <ion-item id="cashflowSummary-list-item43">Net Inflow
        <span class="item-note">INR 16,000</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>