<ion-view title="Home" id="page5">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-person"> Me</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h3 id="home-heading1" style="color:#5990E2;">Intelligent Financials</h3>
    <div id="home-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#5CDBD1;">Your one stop shop to manage all your accounts and gain an intelligent insight into your financial possibilities</p>
    </div>
    <div id="home-container3">
      <div>
        <img src="img/0TzSOm1JSCuWSHBLanwO_Intelligent.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div id="home-container1">
      <ion-list id="home-list12">
        <ion-item class="item-icon-right assertive" id="home-list-item64">Card payment due in 3 days
          <i class="icon ion-android-arrow-forward"></i>
          <ion-option-button class="button-assertive">Delete</ion-option-button>
        </ion-item>
        <ion-item class="balanced" id="home-list-item65">Salary coming in 5 days</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>